.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.volver {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px 10px;
  padding-bottom: 10px 10px;
  margin-top: 55px;
  position: absolute;
  top: 25%;
  right: 48%;
  margin-bottom: 20px;
  border: 1px solid white;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  background-color: black;
  color: white;
}